{{#if this.shouldRender}}
  <div class="wrap custom-categories-navbar">
    <HorizontalOverflowNav>
      {{#each this.site.categories as |sc|}}
        {{#unless sc.parentCategory}}
          <li>
            {{category-link
              sc
              extraClasses=(if (eq this.activeSlug sc.slug) "active")
            }}
          </li>
        {{/unless}}
      {{/each}}
    </HorizontalOverflowNav>
  </div>
{{/if}}